@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Montserrat");
@font-face {
  font-family: 'GothamCondensed-Book';
  src: url("../font/GothamCondensed-Book.otf"); }

@font-face {
  font-family: 'GothamCondensed-Medium';
  src: url("../font/GothamCondensed-Medium.otf"); }

@font-face {
  font-family: 'Gotham-Medium';
  src: url("../font/GothamMedium.ttf"); }

@font-face {
  font-family: 'MidashiGothic';
  src: url("../font/A-OTF-MidashiGoPr6N-MB31.otf"); }

/* z-index */
.headerArea {
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 32px;
  z-index: 5; }
  .headerArea .logoWrapper {
    position: relative; }
    .headerArea .logoWrapper::after {
      content: "";
      width: 60px;
      border-top: 1px solid #000;
      position: absolute;
      top: 50%;
      left: calc(105% + 17px);
      display: block; }
    .headerArea .logoWrapper .logo {
      width: 168px;
      height: 23px; }
  .headerArea .conversionBtn {
    cursor: pointer;
    width: 199px;
    height: 55px;
    margin-right: 64px;
    filter: drop-shadow(0px 20px 40px rgba(59, 49, 49, 0.15)); }

.globalNav {
  font-family: 'GothamCondensed-Book';
  height: 100vh;
  list-style: none;
  position: fixed;
  z-index: 2;
  /* top: 39% */
  left: 0;
  vertical-align: middle;
  /* transform: translateY(-50%) */
  padding-left: 59px;
  width: 148px;
  box-sizing: border-box;
  display: flex;
  align-items: center; }
  .globalNav ul {
    padding: 0; }
    .globalNav ul .globalNavList {
      list-style: none; }
      .globalNav ul .globalNavList a {
        font-size: 12px;
        color: #C5C5C5;
        letter-spacing: 1px;
        height: 20px;
        padding-left: 12px;
        border-left: 1px solid #C5C5C5;
        margin-bottom: 4px;
        vertical-align: middle;
        display: flex;
        align-items: center;
        cursor: pointer;
        text-decoration: none;
        transition: .3s; }
        .globalNav ul .globalNavList a.on {
          font-family: 'GothamCondensed-Medium';
          font-size: 14px;
          color: #000;
          height: 42.27px;
          border-left: 1px solid #000; }

.visualArea {
  width: 100vw;
  height: 100vh;
  position: relative; }
  .visualArea .mainVisualWrpper .mainVisuals {
    list-style: none; }
    .visualArea .mainVisualWrpper .mainVisuals .mainVisual img {
      width: 80%;
      height: 673px;
      object-fit: cover;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%); }
  .visualArea .visualAreaTextScroll {
    font-family: 'Gotham-Medium';
    font-size: 14px;
    transform: rotate(90deg);
    position: absolute;
    right: -76px;
    bottom: 211px;
    letter-spacing: 4px;
    margin: 0; }
    .visualArea .visualAreaTextScroll:after {
      content: '';
      width: 147.55px;
      display: inline-block;
      background: black;
      height: 1px;
      margin-left: 24px;
      margin-bottom: 5px; }
  .visualArea .mainText {
    position: absolute;
    width: 52%;
    top: 69%;
    left: 40%;
    transform: translate(-50%, -50%); }

.content_wrapper {
  padding: 0 90px 0 148px;
  width: 100vw;
  box-sizing: border-box;
  max-width: 1440px;
  margin: 0 auto;
  overflow: hidden;
  transition: .5s; }
  .content_wrapper .aboutArea {
    width: 100%;
    position: relative; }
    .content_wrapper .aboutArea .sectionTitle_about {
      width: 992px;
      margin-left: 100px;
      z-index: 1;
      position: absolute;
      top: 130px; }
    .content_wrapper .aboutArea .aboutContents {
      font-family: 'MidashiGothic';
      position: relative;
      width: 100%;
      max-width: 1202px;
      height: 542px;
      margin-top: 370px;
      background-color: white;
      transform: translateX(-20px);
      box-shadow: 0 40px 100px rgba(59, 47, 47, 0.1);
      z-index: 2;
      box-sizing: border-box;
      padding-top: 74px; }
      .content_wrapper .aboutArea .aboutContents .aboutAreaImage {
        width: 46.3%;
        min-width: 438px;
        max-width: 557px;
        position: absolute;
        top: 150px;
        left: 73px;
        box-shadow: 0 20px 16px rgba(0, 0, 0, 0.07);
        z-index: 3; }
      .content_wrapper .aboutArea .aboutContents .aboutContentsTextWrapper {
        width: 38%;
        margin-left: 58%; }
        .content_wrapper .aboutArea .aboutContents .aboutContentsTextWrapper .aboutContentsTitle {
          font-size: 34px;
          line-height: 68px; }
          .content_wrapper .aboutArea .aboutContents .aboutContentsTextWrapper .aboutContentsTitle .alphabet {
            font-family: 'Montserrat', sans-serif;
            font-weight: bold;
            letter-spacing: 1.6px; }
        .content_wrapper .aboutArea .aboutContents .aboutContentsTextWrapper .aboutContentsList {
          width: 354px;
          list-style: none;
          font-size: 16px;
          padding: 0; }
          .content_wrapper .aboutArea .aboutContents .aboutContentsTextWrapper .aboutContentsList li {
            display: inline-block;
            border-bottom: 3px solid;
            border-image: linear-gradient(to right, rgba(238, 144, 0, 0.75) 0%, rgba(228, 1, 55, 0.84) 100%);
            border-image-slice: 1;
            padding-bottom: 6.6px;
            margin-bottom: 36.3px; }

@media screen and (max-width: 1432px) {
  .content_wrapper .aboutArea .aboutContents .aboutContentsTextWrapper {
    width: 356px; }
    .content_wrapper .aboutArea .aboutContents .aboutContentsTextWrapper .aboutContentsList li {
      margin-bottom: 22.3px; } }

.content_wrapper .courseArea {
  position: relative;
  margin-top: 1250px;
  width: 100%; }
  .content_wrapper .courseArea .sectionTitle_course {
    width: 1273px;
    position: absolute;
    top: 670px;
    right: -16px;
    z-index: 2; }
  .content_wrapper .courseArea .courseListsWrapper {
    width: calc(100% - 183px);
    height: 637px;
    margin: -872px auto 0;
    background-color: white;
    box-shadow: 0 40px 100px rgba(0, 0, 0, 0.1);
    position: relative; }
    .content_wrapper .courseArea .courseListsWrapper .courseListsColorFrame {
      width: 100%;
      position: absolute;
      top: 346px;
      left: -38px;
      z-index: 1; }
    .content_wrapper .courseArea .courseListsWrapper .courseLists {
      list-style: none;
      display: flex;
      justify-content: center;
      position: absolute;
      left: -92px;
      top: 219px;
      padding: 0;
      margin: 0;
      z-index: 3;
      width: 118%; }
      .content_wrapper .courseArea .courseListsWrapper .courseLists .courseList {
        position: relative;
        width: 31.333333%;
        background-color: white;
        box-shadow: 0 32px 42px rgba(50, 58, 58, 0.06);
        margin-right: 27px;
        padding-bottom: 21px;
        z-index: 3; }
        .content_wrapper .courseArea .courseListsWrapper .courseLists .courseList:last-child {
          margin-right: 0; }
        .content_wrapper .courseArea .courseListsWrapper .courseLists .courseList .courseListImage {
          width: 100%; }
        .content_wrapper .courseArea .courseListsWrapper .courseLists .courseList .courseTitle {
          font-size: 24px;
          font-family: 'MidashiGothic';
          width: 86%;
          margin: 19.17px auto 11px; }
          .content_wrapper .courseArea .courseListsWrapper .courseLists .courseList .courseTitle .alphabet {
            font-family: 'Montserrat', sans-serif;
            font-weight: bold;
            letter-spacing: 1.6px; }
        .content_wrapper .courseArea .courseListsWrapper .courseLists .courseList .courseDescription {
          font-family: "游ゴシック", "Yu Gothic", "游ゴシック体", YuGothic, sans-serif;
          font-size: 14px;
          line-height: 24px;
          width: 86%;
          margin: 0 auto; }

.content_wrapper .firstArea {
  display: flex;
  justify-content: center;
  position: relative;
  margin-top: 360px;
  width: 100%; }
  .content_wrapper .firstArea .sectionTitleWrapper {
    position: absolute;
    z-index: 2;
    left: -78px;
    top: 1171px; }
  .content_wrapper .firstArea .colorBracket_right {
    position: absolute;
    z-index: 1;
    top: 385px;
    right: -49px; }
  .content_wrapper .firstArea .firstAreaContents {
    width: 80%;
    background-color: white;
    box-shadow: 0 40px 100px rgba(129, 106, 106, 0.1);
    margin-left: 52px;
    min-width: 960px;
    padding-bottom: 140px; }
    .content_wrapper .firstArea .firstAreaContents .firstAreaContentsTitle {
      font-family: 'MidashiGothic';
      font-size: 32px;
      margin-left: 44.3%;
      margin-top: -16px;
      position: relative;
      z-index: 3;
      min-width: 459px; }
    .content_wrapper .firstArea .firstAreaContents .firstAreaContentsDescription {
      font-family: "游ゴシック", "Yu Gothic", "游ゴシック体", YuGothic, sans-serif;
      font-size: 16px;
      color: #4A4A4A;
      margin-left: 44.3%;
      line-height: 32px;
      position: relative;
      z-index: 3;
      max-width: 459px; }
    .content_wrapper .firstArea .firstAreaContents .firstAreaContentsLists {
      margin-top: 50px; }
      .content_wrapper .firstArea .firstAreaContents .firstAreaContentsLists .firstAreaContentsList_2 {
        margin-right: -55px;
        justify-content: flex-end;
        margin-top: 63px; }
      .content_wrapper .firstArea .firstAreaContents .firstAreaContentsLists .firstAreaContentsList {
        display: flex;
        align-items: flex-start;
        height: 360px; }
        .content_wrapper .firstArea .firstAreaContents .firstAreaContentsLists .firstAreaContentsList .trainerPicture {
          box-shadow: 0 32px 42px rgba(0, 0, 0, 0.06); }
        .content_wrapper .firstArea .firstAreaContents .firstAreaContentsLists .firstAreaContentsList .trainerPicture_1 {
          width: 452px;
          margin-left: -91px;
          margin-top: 240px; }
        .content_wrapper .firstArea .firstAreaContents .firstAreaContentsLists .firstAreaContentsList .trainerPicture_2 {
          width: 474px;
          margin-top: 299px; }
        .content_wrapper .firstArea .firstAreaContents .firstAreaContentsLists .firstAreaContentsList .trainerTextWrapper_1 {
          margin-left: 8%;
          margin-right: 5%;
          max-width: 404px; }
        .content_wrapper .firstArea .firstAreaContents .firstAreaContentsLists .firstAreaContentsList .trainerTextWrapper_2 {
          width: 390px;
          margin-right: 46px; }
        .content_wrapper .firstArea .firstAreaContents .firstAreaContentsLists .firstAreaContentsList .trainerTextWrapper .trainerNameWrapper {
          font-family: 'MidashiGothic'; }
          .content_wrapper .firstArea .firstAreaContents .firstAreaContentsLists .firstAreaContentsList .trainerTextWrapper .trainerNameWrapper .alphabet {
            font-family: 'Montserrat'; }
          .content_wrapper .firstArea .firstAreaContents .firstAreaContentsLists .firstAreaContentsList .trainerTextWrapper .trainerNameWrapper .trainerPosition {
            font-size: 18px;
            color: #989898; }
          .content_wrapper .firstArea .firstAreaContents .firstAreaContentsLists .firstAreaContentsList .trainerTextWrapper .trainerNameWrapper .trainerName {
            font-size: 22px;
            margin-top: 15px; }
          .content_wrapper .firstArea .firstAreaContents .firstAreaContentsLists .firstAreaContentsList .trainerTextWrapper .trainerNameWrapper .trainerName {
            position: relative; }
        .content_wrapper .firstArea .firstAreaContents .firstAreaContentsLists .firstAreaContentsList .trainerTextWrapper .trainerDescription {
          font-family: "游ゴシック", "Yu Gothic", "游ゴシック体", YuGothic, sans-serif;
          line-height: 28px;
          font-size: 14px; }
        .content_wrapper .firstArea .firstAreaContents .firstAreaContentsLists .firstAreaContentsList:nth-of-type(1) .trainerTextWrapper .trainerNameWrapper .trainerName:before {
          content: '';
          width: 87.69px;
          height: 2px;
          background-color: black;
          display: inline-block;
          position: absolute;
          top: 50%;
          left: -117px;
          transform: translateY(-50%); }
        .content_wrapper .firstArea .firstAreaContents .firstAreaContentsLists .firstAreaContentsList:nth-of-type(2) .trainerTextWrapper .trainerNameWrapper .trainerName:after {
          content: '';
          width: 87.69px;
          height: 2px;
          background-color: black;
          display: inline-block;
          position: absolute;
          top: 50%;
          left: 402px;
          transform: translateY(-50%);
          z-index: 1; }

.content_wrapper .secondArea {
  position: relative;
  display: flex;
  justify-content: center;
  margin-top: 388px; }
  .content_wrapper .secondArea .sectionTitleWrapper {
    position: absolute;
    z-index: 2;
    top: 2238px;
    right: -93px; }
  .content_wrapper .secondArea .colorBracket_left {
    position: absolute;
    z-index: 1;
    top: 723px;
    left: .7%; }
  .content_wrapper .secondArea .secondAreaContents {
    width: 891px;
    height: 1606px;
    background-color: white;
    box-shadow: 0 40px 100px rgba(47, 41, 41, 0.1);
    margin-left: 55px; }
    .content_wrapper .secondArea .secondAreaContents .secondAreaContentsTitle {
      font-family: 'MidashiGothic';
      font-size: 32px;
      margin-left: 77px;
      margin-top: -19px;
      position: relative;
      z-index: 3; }
    .content_wrapper .secondArea .secondAreaContents .secondAreaContentsDescription {
      font-family: "游ゴシック", "Yu Gothic", "游ゴシック体", YuGothic, sans-serif;
      font-size: 16px;
      color: #4A4A4A;
      width: 400px;
      margin-left: 77px;
      line-height: 32px;
      position: relative;
      z-index: 3;
      margin-top: 41px; }
    .content_wrapper .secondArea .secondAreaContents .lessonLists {
      list-style: none;
      display: flex;
      padding: 0; }
      .content_wrapper .secondArea .secondAreaContents .lessonLists:nth-of-type(1) {
        margin: 350px 0 40px -56px; }
      .content_wrapper .secondArea .secondAreaContents .lessonLists:nth-of-type(2) {
        margin: 0 0 40px 126px; }
      .content_wrapper .secondArea .secondAreaContents .lessonLists:nth-of-type(3) {
        margin: 0 0 0 20px; }
      .content_wrapper .secondArea .secondAreaContents .lessonLists .lessonList {
        width: 346px;
        background-color: white;
        box-shadow: 0 32px 42px rgba(45, 40, 40, 0.06);
        padding-bottom: 12px;
        font-family: 'Montserrat'; }
        .content_wrapper .secondArea .secondAreaContents .lessonLists .lessonList:nth-of-type(2) {
          margin-left: 35px; }
        .content_wrapper .secondArea .secondAreaContents .lessonLists .lessonList .lessonListImage {
          width: 322px;
          margin: 12px 12px 0 12px; }
        .content_wrapper .secondArea .secondAreaContents .lessonLists .lessonList .lessonTitle {
          font-family: 'MidashiGothic';
          font-size: 20px;
          margin: 8px 12px 0 12px; }
        .content_wrapper .secondArea .secondAreaContents .lessonLists .lessonList .lessonDescription {
          font-family: "游ゴシック", "Yu Gothic", "游ゴシック体", YuGothic, sans-serif;
          line-height: 28px;
          font-size: 14px;
          margin: 6px 0 0 12px; }
        .content_wrapper .secondArea .secondAreaContents .lessonLists .lessonList .lessonTeacher {
          margin-left: 12px;
          display: flex;
          align-items: center; }
          .content_wrapper .secondArea .secondAreaContents .lessonLists .lessonList .lessonTeacher .lessonTeacherImage {
            width: 38px; }
          .content_wrapper .secondArea .secondAreaContents .lessonLists .lessonList .lessonTeacher .lessonTeacherName {
            font-family: 'MidashiGothic';
            font-size: 14px;
            margin-left: 4px; }

.content_wrapper .thirdArea {
  margin-top: 570px;
  position: relative; }
  .content_wrapper .thirdArea .sectionTitleWrapper {
    position: absolute;
    z-index: 2;
    top: 3200px;
    left: -106px; }
  .content_wrapper .thirdArea .colorBracket_right {
    position: absolute;
    z-index: 1;
    top: 900px;
    left: 869px; }
  .content_wrapper .thirdArea .thirdAreaContents {
    width: 79.6%;
    background-color: white;
    box-shadow: 0 40px 100px rgba(129, 106, 106, 0.1);
    margin-left: 121.5px;
    box-sizing: border-box;
    padding: 98px 70px 0 104px;
    position: relative;
    min-width: 957px; }
    .content_wrapper .thirdArea .thirdAreaContents .thirdAreaContentsTitle {
      font-family: 'MidashiGothic';
      font-size: 32px;
      position: absolute;
      margin: 0;
      top: -21px;
      right: 21.4%; }
    .content_wrapper .thirdArea .thirdAreaContents .thirdAreaContentsAbout {
      display: flex;
      z-index: 3;
      position: relative;
      height: 300px; }
      .content_wrapper .thirdArea .thirdAreaContents .thirdAreaContentsAbout .thirdAreaContentsAboutVisual {
        width: 384px;
        height: 264px;
        box-shadow: 0 32px 42px rgba(0, 0, 0, 0.06);
        margin-top: 550px; }
      .content_wrapper .thirdArea .thirdAreaContents .thirdAreaContentsAbout .thirdAreaContentsAboutText {
        margin-left: 57px;
        width: 343px;
        margin-top: 16px; }
        .content_wrapper .thirdArea .thirdAreaContents .thirdAreaContentsAbout .thirdAreaContentsAboutText .thirdAreaContentsAboutTitle {
          font-family: 'MidashiGothic';
          font-size: 20px;
          margin-bottom: 33px;
          position: relative; }
          .content_wrapper .thirdArea .thirdAreaContents .thirdAreaContentsAbout .thirdAreaContentsAboutText .thirdAreaContentsAboutTitle:before {
            content: '';
            width: 87.69px;
            height: 2px;
            background-color: black;
            display: inline-block;
            position: absolute;
            top: 50%;
            left: -117px;
            transform: translateY(-50%); }
        .content_wrapper .thirdArea .thirdAreaContents .thirdAreaContentsAbout .thirdAreaContentsAboutText .thirdAreaContentsDescription {
          font-family: "游ゴシック", "Yu Gothic", "游ゴシック体", YuGothic, sans-serif;
          font-size: 14px;
          color: #4A4A4A;
          line-height: 28px; }
    .content_wrapper .thirdArea .thirdAreaContents .thirdAreaThmbnails {
      display: flex;
      margin-top: 61px;
      list-style: none;
      margin-left: -26.6%;
      padding: 0;
      width: 100vw;
      overflow-x: scroll; }
      .content_wrapper .thirdArea .thirdAreaContents .thirdAreaThmbnails .thirdAreaThmbnail {
        margin-left: 20px; }
        .content_wrapper .thirdArea .thirdAreaContents .thirdAreaThmbnails .thirdAreaThmbnail:nth-of-type(1) {
          margin-left: 0; }
        .content_wrapper .thirdArea .thirdAreaContents .thirdAreaThmbnails .thirdAreaThmbnail .thirdAreaThmbnail {
          width: 619px; }

.content_wrapper .priceArea {
  position: relative;
  margin-top: 480px;
  width: 100%; }
  .content_wrapper .priceArea .sectionTitleWrapper {
    position: absolute;
    z-index: 3;
    top: 3026px;
    left: 70px; }
  .content_wrapper .priceArea .priceBackground {
    position: absolute;
    z-index: 1;
    width: 96%;
    top: -1447px;
    left: 45px;
    height: 701px; }
  .content_wrapper .priceArea .priceAreaContents {
    margin-top: 1400px;
    width: 96%;
    box-sizing: border-box;
    background-color: white;
    box-shadow: 0 40px 100px rgba(129, 106, 106, 0.1);
    margin-left: 82.5px;
    padding: 76px 68px 70px 77px;
    position: relative;
    z-index: 2;
    transform: translateY(124px); }
    .content_wrapper .priceArea .priceAreaContents .priceAreaLists {
      list-style: none;
      margin: 0;
      padding: 0; }
      .content_wrapper .priceArea .priceAreaContents .priceAreaLists .priceAreaList {
        margin-top: 27px; }
        .content_wrapper .priceArea .priceAreaContents .priceAreaLists .priceAreaList:nth-of-type(1) {
          margin-top: 0px; }
        .content_wrapper .priceArea .priceAreaContents .priceAreaLists .priceAreaList dl {
          display: flex;
          font-family: 'MidashiGothic';
          font-size: 24px;
          margin: 0; }
          .content_wrapper .priceArea .priceAreaContents .priceAreaLists .priceAreaList dl dt {
            width: 328px;
            min-width: 328px;
            height: 108px;
            display: flex;
            justify-content: center;
            align-items: center;
            color: white; }
          .content_wrapper .priceArea .priceAreaContents .priceAreaLists .priceAreaList dl dd {
            margin: 0;
            width: 720px;
            box-shadow: 0 0 40px 10px rgba(0, 0, 0, 0.04);
            display: flex;
            justify-content: space-around;
            align-items: center; }
            .content_wrapper .priceArea .priceAreaContents .priceAreaLists .priceAreaList dl dd .priceAreaListTerm {
              margin-left: 86px; }
            .content_wrapper .priceArea .priceAreaContents .priceAreaLists .priceAreaList dl dd .priceAreaListPrice {
              transform: translateX(35px); }
              .content_wrapper .priceArea .priceAreaContents .priceAreaLists .priceAreaList dl dd .priceAreaListPrice .tax {
                font-size: 14px;
                margin-left: -5px; }
      .content_wrapper .priceArea .priceAreaContents .priceAreaLists .priceAreaList_1 dl dt {
        background-image: linear-gradient(253deg, #f59051, #f5515f 43%, #9f041b); }
      .content_wrapper .priceArea .priceAreaContents .priceAreaLists .priceAreaList_2 dl dt {
        background-image: linear-gradient(253deg, #ffba81, #e79c00); }
      .content_wrapper .priceArea .priceAreaContents .priceAreaLists .priceAreaList_3 dl dt {
        background-image: linear-gradient(71deg, rgba(118, 121, 164, 0.84), rgba(162, 21, 120, 0.73)); }
      .content_wrapper .priceArea .priceAreaContents .priceAreaLists .priceAreaList_4 dl dt {
        background-image: linear-gradient(72deg, #53ffd6, #6daad7); }
    .content_wrapper .priceArea .priceAreaContents .priceAreaSubTexts {
      margin-top: 26px; }
      .content_wrapper .priceArea .priceAreaContents .priceAreaSubTexts p {
        font-size: 14px;
        font-family: "游ゴシック", "Yu Gothic", "游ゴシック体", YuGothic, sans-serif; }

.content_wrapper .flowArea {
  position: relative;
  margin-top: -950px;
  width: 100%;
  margin-bottom: -311px; }
  .content_wrapper .flowArea .sectionTitleWrapper {
    position: absolute;
    z-index: 3;
    top: 5060px;
    right: -88px; }
  .content_wrapper .flowArea .flowAreaContents {
    width: 83.2%;
    box-sizing: border-box;
    background-color: white;
    box-shadow: 0 40px 100px rgba(47, 41, 41, 0.1);
    margin-left: 100px;
    position: relative;
    z-index: 2;
    padding-bottom: 57px; }
    .content_wrapper .flowArea .flowAreaContents .flowAreaVerticalLine {
      width: 6px;
      height: 1245px;
      background-image: linear-gradient(180deg, rgba(238, 144, 0, 0.75), rgba(228, 1, 55, 0.84));
      position: absolute;
      left: 50%;
      top: 439px;
      z-index: 3;
      transform: translateX(-50%); }
    .content_wrapper .flowArea .flowAreaContents .flowAreaContentsLists {
      padding: 14px 0 0 0;
      list-style: none; }
      .content_wrapper .flowArea .flowAreaContents .flowAreaContentsLists .flowAreaContentsList {
        width: 994px;
        height: 286px;
        box-shadow: 0 40px 100px rgba(58, 51, 51, 0.04);
        display: flex;
        align-items: center;
        background-color: white;
        position: relative;
        margin-top: 176px;
        z-index: 4; }
        .content_wrapper .flowArea .flowAreaContents .flowAreaContentsLists .flowAreaContentsList .flowPicture {
          width: 500px;
          height: 400px;
          margin-top: 1580px; }
        .content_wrapper .flowArea .flowAreaContents .flowAreaContentsLists .flowAreaContentsList .flowTextWrapper {
          width: 395px;
          margin: 0 57px; }
          .content_wrapper .flowArea .flowAreaContents .flowAreaContentsLists .flowAreaContentsList .flowTextWrapper .flowName {
            font-family: 'MidashiGothic';
            font-size: 24px; }
          .content_wrapper .flowArea .flowAreaContents .flowAreaContentsLists .flowAreaContentsList .flowTextWrapper .flowDescription {
            font-size: 14px;
            font-family: "游ゴシック", "Yu Gothic", "游ゴシック体", YuGothic, sans-serif;
            line-height: 28px; }
    .content_wrapper .flowArea .flowAreaContents .flowAreaContentsList_1,
    .content_wrapper .flowArea .flowAreaContents .flowAreaContentsList_3 {
      margin-left: -100px; }
    .content_wrapper .flowArea .flowAreaContents .flowAreaContentsList_2,
    .content_wrapper .flowArea .flowAreaContents .flowAreaContentsList_4 {
      margin-left: 100px; }
    .content_wrapper .flowArea .flowAreaContents .flowAreaBottomArea {
      text-align: center;
      margin-top: 89px; }
      .content_wrapper .flowArea .flowAreaContents .flowAreaBottomArea .briefingBtn {
        cursor: pointer;
        width: 374px;
        margin-bottom: 70px;
        filter: drop-shadow(0px 20px 40px rgba(63, 52, 52, 0.06)); }
      .content_wrapper .flowArea .flowAreaContents .flowAreaBottomArea .flowAreaLinks {
        list-style: none;
        display: flex;
        justify-content: center;
        margin: -17px 0 0 0; }
        .content_wrapper .flowArea .flowAreaContents .flowAreaBottomArea .flowAreaLinks .flowAreaLink {
          font-family: 'MidashiGothic';
          font-size: 24px;
          color: #979797; }
          .content_wrapper .flowArea .flowAreaContents .flowAreaBottomArea .flowAreaLinks .flowAreaLink:nth-of-type(1) {
            margin-left: -24px; }
          .content_wrapper .flowArea .flowAreaContents .flowAreaBottomArea .flowAreaLinks .flowAreaLink:nth-of-type(2) {
            margin-left: 50px; }

.content_wrapper .studioPhotoThumbnails {
  width: 100vw;
  overflow-x: hidden;
  position: absolute;
  left: 0; }
  .content_wrapper .studioPhotoThumbnails .photoWrapper {
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0; }
    .content_wrapper .studioPhotoThumbnails .photoWrapper .studioPhoto img {
      height: 384px; }

.footerArea {
  width: 100vw;
  margin-top: 567px;
  display: flex;
  padding-bottom: 58px; }
  .footerArea .logoWrapper {
    width: 43%;
    margin: -20px 0 0 0;
    display: flex;
    align-items: center;
    justify-content: center; }
    .footerArea .logoWrapper .logo {
      width: 309px; }
  .footerArea .schoolListWrappr {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    width: 57%; }
    .footerArea .schoolListWrappr .schoolList {
      margin-left: 95px; }
      .footerArea .schoolListWrappr .schoolList address {
        font-style: normal; }
        .footerArea .schoolListWrappr .schoolList address .schoolInquiry {
          margin: 0; }
          .footerArea .schoolListWrappr .schoolList address .schoolInquiry .schoolName {
            font-family: 'MidashiGothic';
            font-size: 22px; }
          .footerArea .schoolListWrappr .schoolList address .schoolInquiry .schoolInquiryContent {
            margin: 0; }
            .footerArea .schoolListWrappr .schoolList address .schoolInquiry .schoolInquiryContent .schoolInquiryTitle {
              font-size: 18px;
              font-weight: bold;
              margin-top: 44px; }
              .footerArea .schoolListWrappr .schoolList address .schoolInquiry .schoolInquiryContent .schoolInquiryTitle.tell {
                margin-top: 67px; }
            .footerArea .schoolListWrappr .schoolList address .schoolInquiry .schoolInquiryContent .address {
              font-family: 'YuGothic';
              font-size: 16px;
              line-height: 28px; }
            .footerArea .schoolListWrappr .schoolList address .schoolInquiry .schoolInquiryContent .addressDirection {
              font-size: 14px;
              color: #9B9B9B;
              line-height: 27px;
              margin-bottom: 3px; }
            .footerArea .schoolListWrappr .schoolList address .schoolInquiry .schoolInquiryContent .googleMapLink {
              color: black;
              font-family: 'Montserrat';
              font-size: 14px; }
      .footerArea .schoolListWrappr .schoolList:nth-of-type(1) {
        margin-left: 0; }

@media screen and (max-width: 1140px) {
  .content_wrapper {
    padding: 0; } }
